{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
#!/bin/sh
cp ~/.local/config/gitignore_global.txt /mnt/c/Users/Balaji/gitignore_global.txt
{{ end -}}
