{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $osrel := (get .chezmoi.kernel "osrelease" | default "" | lower) -}}
{{-   $isWSL = or (get . "isWSL" | default false) ($osrel | contains "microsoft") -}}
{{- end -}}
{{- if $isWSL -}}
#!/bin/sh
set -eu
#TODO This script will need to be updated if I start to use chezmoi natively on Windows.
cp {{ printf "%s/dot_local/config/executable_gitignore_global.txt" .chezmoi.workingTree }} /mnt/c/Users/Balaji/gitignore_global.txt
{{ end -}}
