#!/bin/sh
set -eu

{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $osrel := (get .chezmoi.kernel "osrelease" | default "" | lower) -}}
{{-   $isWSL = or (get . "isWSL" | default false) ($osrel | contains "microsoft") -}}
{{- end -}}
{{- if $isWSL -}}
{{- $ansibleKey := "" -}}
{{- if hasKey . "ansible_key" -}}
{{- $ansibleKey = .ansible_key -}}
{{- end -}}
{{- if $ansibleKey -}}
mkdir -p ~/.ssh && cd ~/.ssh
cp "{{ $ansibleKey }}" root_terraform_ansible
chmod 0600 ~/.ssh/root_terraform_ansible
chmod 0700 ~/.ssh
{{- end -}}
{{- end }}
