{{- if eq (env "SHELL") "/bin/zsh" -}}
{{-   if eq .chezmoi.os "linux" -}}
HISTFILE=~/.histfile
HISTSIZE=3000 #due to hist_expire_dups_first
SAVEHIST=2000
setopt inc_append_history autocd extendedglob notify hist_ignore_space hist_ignoredups extended_history share_history hist_verify hist_expire_dups_first

unsetopt beep
bindkey -e

zstyle :compinstall filename '${ZDOTDIR:-~}/.zshrc'

autoload -Uz compinit
compinit
autoload colors zsh/terminfo

export PATH="$HOME/bin/:$PATH"
PS1="("'%10<...<%~%<<'"|"'%t'")"$'\n'%{$fg_bold[yellow]%}%B[-%m-]%b%{$reset_color%}%#" "
{{ "\n" -}}
{{-   end -}}
# Universal custom aliases
alias cd=" cd"
{{- if ne .chezmoi.os "darwin" -}}
alias less="less -R"
alias more="less -R -X"
{{- end -}}
alias cz="chezmoi"
# Prompt for 1Password sign-in
alias ops=' eval $(op signin)'

{{- if eq .chezmoi.os "darwin" -}}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

source <(fzf --zsh)

#Fix for Window Title
# precmd () {
# print -Pn "\e]2;%n@%m: %2c\a"
# print -Pn "\e]1;%l\a"
# }

# source antidote
{{- if lookPath "brew"}}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{- end}}

# initialize plugins statically with ${ZDOTDIR:-~}/.zsh_plugins.txt
antidote load

# Set HISTFILE to be machine-specific
HISTFILE=${ZDOTDIR:-$HOME}/.m4mbp_zsh_history

# Set language variables
export LC_ALL=en_GB.UTF-8
export LANG=en_GB.UTF-8
export LC_MESSAGES=en_GB.UTF-8
export LC_TIME=en_SG.UTF-8
export LC_NUMERIC=en_SG.UTF-8
export LC_MONETARY=en_SG.UTF-8
export LANGUAGE=en_GB:en_US

# Set parameters for zsh-autosuggestions
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# Set autoload for ZSH prompt
autoload -Uz promptinit && promptinit
# Set prompt to powerlevel10k
prompt powerlevel10k

# Plugin customizations
# Customize MichaelAquilina/zsh-you-should-use message position
export YSU_MESSAGE_POSITION="after"
# Remove ISO8601 timestamps in search when using joshskidmore/zsh-fzf-history-search
export ZSH_FZF_HISTORY_SEARCH_DATES_IN_SEARCH=0
# Set keywords to be excluded from ZSH History using MichaelAquilina/zsh-history-filter
export HISTORY_FILTER_EXCLUDE=("_KEY" "Bearer")
{{- end -}}

{{- $hasEza := false -}}
{{- if lookPath "eza" -}}
{{-   $hasEza = true -}}
{{- end -}}
{{- if and (eq .chezmoi.os "darwin") $hasEza -}}
# eza is installed on macOS, use eza aliases
alias ls=" eza -l --group-directories-first"
alias ll=" eza -la --group-directories-first"
alias lt=" eza -la --sort=modified --reverse --color=always"
alias tree=" eza --tree"
{{- else}}
# Fallback to standard ls aliases
alias ls="ls --color=always"
alias ll="LC_COLLATE=C ls -lah --color=always"
alias lt="LC_COLLATE=C ls -lahtr --color=always"
{{- end}}

# Set $EDITOR to nano if available else fallback to vi
{{- $hasNano := false -}}
{{- if lookPath "nano" -}}
{{-   $hasNano = true -}}
{{- end -}}
EDITOR="{{ if $hasNano }}$(command -v nano){{ else }}$(command -v vi){{ end }}"

# Set $EDITOR & $VISUAL to VSCode
{{- $hasCode := false -}}
{{- if lookPath "code" -}}
{{-   $hasCode = true -}}
{{- end -}}
{{if $hasCode}}
if [ "$SSH_TTY$DISPLAY" = "${DISPLAY#*:[1-9][0-9]}" ]; then
  export VISUAL="$(command -v code) --wait"
  EDITOR="$VISUAL"
fi
{{- end}}

{{if eq .chezmoi.os "darwin" -}}
# Save the original brew command
if [ -z "$ORIGINAL_BREW" ]; then
  export ORIGINAL_BREW=$(which brew)
fi

# Function to update brewfiles and create git commit
update_brewfiles() {
    local action=$1
    local packages=$2
    local commit_action=""

    # Determine commit message action based on command
    case $action in
        "install"|"tap") commit_action="installed";;
        "uninstall"|"purge"|"untap") commit_action="uninstalled";;
    esac

    # Define file paths
    local clean_install_brewfile='/Users/balaji/Downloads/Clean Install/Clean Install Config/brewfile.txt'
    local dotfiles_brewfile='/Users/balaji/Documents/development/dotfiles/brewfile.txt'
    local clean_install_exists=false

    # Check if Clean Install brewfile exists
    if [ -f "$clean_install_brewfile" ]; then
        # Remove existing Clean Install brewfile and create new one
        rm -f "$clean_install_brewfile"
        $ORIGINAL_BREW bundle dump --brews --casks --taps --mas --file="$clean_install_brewfile"
        echo "Brewfile has been updated at '$clean_install_brewfile'"
        clean_install_exists=true
    else
        echo "Brewfile in Clean Install Config folder not found"
    fi

    # Check if dotfiles directory is a git repo and brewfile location exists
    if [ -d "/Users/balaji/Documents/development/dotfiles/.git" ]; then
        if [ "$clean_install_exists" = true ]; then
            cp -f "$clean_install_brewfile" "$dotfiles_brewfile"
            cd /Users/balaji/Documents/development/dotfiles
            # Stage and commit the brewfile
            git add brewfile.txt
            git commit -m "Automated commit of brewfile - Packages $packages $commit_action"
            echo "Brewfile copied to dotfiles and committed"
            # Return to original directory
            cd - > /dev/null
        fi
    else
        echo "Brewfile in dotfiles git repo not found or not a git repository"
    fi
}

# Create a custom brew function
brew() {
    local command=$1
    local packages="${@:2}"

    case $command in
        "install"|"tap"|"uninstall"|"purge"|"untap")
            # Execute the original brew command
            $ORIGINAL_BREW $command $packages
            if [ $? -eq 0 ]; then
                update_brewfiles "$command" "$packages"
            else
                echo "Brew $command failed, Brewfile not updated"
            fi
            ;;
        *)
            # For all other brew commands, just pass through to the original
            $ORIGINAL_BREW "$@"
            ;;
    esac
}


# Custom aliases
alias czp="chezmoi --config $HOME/.config/chezmoi-private/chezmoi.toml --source $HOME/Documents/development/private-dotfiles"
alias dotupdate="cz apply && czp apply && antidote update && doom upgrade"
alias brew-update-all='brew update && brew upgrade && brew cu --include-mas -a'

# Add variables used by homelab-IaC repo
export CERTPATH="{{ .CERTPATH }}"
export LOCALCERTPATH=$HOME/Documents/development/keys
alias cdcert=' cd "$CERTPATH"'

# Update $PATH
PYTHON_USER_BIN="$HOME/Library/Python/$(python3 -c 'import sys; print(".".join(map(str, sys.version_info[:2])))')/bin"
export PATH=$HOME/Applications:$HOME/.emacs.d/bin/:$PYTHON_USER_BIN:$PATH

# Disable Fork Safety as it tends to break Ansible
# export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# Initialize fasd with smartcache if available, or directly if only fasd is available
{{- $hasFasder := false -}}
{{- if lookPath "fasder" -}}
{{-   $hasFasder = true -}}
{{- end -}}
{{- if $hasFasder}}
if command -v smartcache >/dev/null 2>&1; then
    smartcache eval fasder --init auto aliases
else
    eval "$(fasder --init auto aliases)"
fi
{{- end}}

# This is added at the end of the file to avoid potential conflicts
{{- $hasDirenv := false -}}
{{- if lookPath "direnv" -}}
{{-   $hasDirenv = true -}}
{{- end -}}
{{- if $hasDirenv}}
if command -v smartcache >/dev/null 2>&1; then
    smartcache eval direnv hook zsh
else
    eval "$(direnv hook zsh)"
fi
{{- end -}}
{{- end -}}
{{- end -}}
