# ~/.config/opencode/opencode.env
export ANTHROPIC_API_KEY='{{ onepasswordRead "op://Private/qwhr7uxduofl3gr66imqwer35m/credential" }}'
export OPENROUTER_API_KEY='{{ onepasswordRead "op://Private/w2sbpeyiuzclapxbhzraouhdna/credential" }}'
export PERPLEXITY_API_KEY='{{ onepasswordRead "op://Private/gtf4i56alcsol4kgqepnwbicdu/credential" }}'
export GEMINI_API_KEY='{{ onepasswordRead "op://Private/x24pktz5hmyap3lhv36mcfohju/credential" }}'
export MOONSHOT_API_KEY='{{ onepasswordRead "op://Private/wdnptbrsun7slb4oe7zaoucbau/credential" }}'
