<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.ssh-add-keychain</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/ssh-add</string>
      <string>--apple-use-keychain</string>
      <string>/Users/balaji/.ssh/keys/public_averagegeek_2019-ed25519</string>
      <string>/Users/balaji/.ssh/keys/godmode_primaryvps-id_rsa</string>
      <string>/Users/balaji/.ssh/keys/godmode_torbox-id_rsa</string>
      <string>/Users/balaji/.ssh/keys/avggeek_primaryvps-id_rsa</string>
      <string>/Users/balaji/.ssh/keys/avggeek_torbox_2019-ed25519</string>
      <string>/Users/balaji/.ssh/keys/superuser_ldap-ed25519</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/ssh-add-loadkeychain.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ssh-add-loadkeychain.err</string>
  </dict>
</plist>
