{
    "folders": [
        {
            "name": "dotfiles",
            "path": "../dotfiles"
        },
        {
            "name": "private-dotfiles",
            "path": "../private-dotfiles"
        },
{{- if eq .chezmoi.os "windows" }}
        {
            "path": "C:/Users/Balaji/.config/chezmoi"
        },
{{- else }}
        {
            "path": "../../../.config/chezmoi"
        },
{{- end }}
{{- if eq .chezmoi.os "windows" }}
        {
            "path": "C:/Users/Balaji/.config/chezmoi-private"
        },
{{- else }}
        {
            "path": "../../../.config/chezmoi-private"
        },
{{- end }}
    ],
    "settings": {
        "dotfiles.isDotfilesWorkspace": true, // Special parameter added to enable per workspace keybinding
        "terminal.integrated.cwd": "${workspaceFolder:dotfiles}",
        "ansible.validation.lint.enabled": false,
        "ansible.validation.enabled": false,
        "todo-tree.tree.showBadges": true,
        "todo-tree.tree.showCountsInTree": true,
        "files.associations": {
            "*.tmpl": "helm",
            ".chezmoi*": "helm",
            "*.el.tmpl": "lisp",
            "*.el": "lisp"
        }
    },
    "tasks": {
        "version": "2.0.0",
        "tasks": [
            {
              "label": "Terminal: private-dotfiles shell",
              "type": "process",
              "options": {
                "cwd": "${workspaceFolder:private-dotfiles}"
              },
              "problemMatcher": [],
              "presentation": {
                "reveal": "always",
                "panel": "new",
                "focus": true
              },

              // macOS/Linux
              "command": "${env:SHELL}",
              "args": ["-l"],

              // Windows
              "windows": {
                "command": "pwsh.exe",
                "args": ["-NoExit"]
              }
            }

        ]
    }
}