{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $osrel := (get .chezmoi.kernel "osrelease" | default "" | lower) -}}
{{-   $isWSL = or (get . "isWSL" | default false) ($osrel | contains "microsoft") -}}
{{- end -}}
{{- if $isWSL -}}
{
    "editor_path": "code --wait"
}
{{ end -}}
