;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

;; Place your private configuration here! Remember, you do not need to run 'doom
;; sync' after modifying this file!


;; Some functionality uses this to identify you, e.g. GPG configuration, email
;; clients, file templates and snippets. It is optional.
(setq user-full-name {{ .name | quote }}
      user-mail-address {{ .email | quote }})

;; Doom exposes five (optional) variables for controlling fonts in Doom:
;;
;; - `doom-font' -- the primary font to use
;; - `doom-variable-pitch-font' -- a non-monospace font (where applicable)
;; - `doom-big-font' -- used for `doom-big-font-mode'; use this for
;;   presentations or streaming.
;; - `doom-unicode-font' -- for unicode glyphs
;; - `doom-serif-font' -- for the `fixed-pitch-serif' face
;;
;; See 'C-h v doom-font' for documentation and more examples of what they
;; accept. For example:
;;
;;(setq doom-font (font-spec :family "Fira Code" :size 12 :weight 'semi-light)
;;      doom-variable-pitch-font (font-spec :family "Fira Sans" :size 13))

(setq doom-font (font-spec :family "JetBrains Mono NL" :size 13 :weight 'regular)
      doom-serif-font (font-spec :family "Drafting Mono" :size 12 :weight 'regular)
      doom-unicode-font (font-spec :family "Noto Sans Symbols2" :size 16 :weight 'regular)
)
;;
;; If you or Emacs can't find your font, use 'M-x describe-font' to look them
;; up, `M-x eval-region' to execute elisp code, and 'M-x doom/reload-font' to
;; refresh your font settings. If Emacs still can't find your font, it likely
;; wasn't installed correctly. Font issues are rarely Doom issues!

;; There are two ways to load a theme. Both assume the theme is installed and
;; available. You can either set `doom-theme' or manually load a theme with the
;; `load-theme' function. This is the default:
(setq doom-theme 'doom-zenburn)

;; This determines the style of line numbers in effect. If set to `nil', line
;; numbers are disabled. For relative line numbers, set this to `relative'.
(setq display-line-numbers-type t)

{{- if eq .chezmoi.hostname "BIG-RIG" }}

;; Set Emacs Frame Size. Org-agenda seems to break Emacs is fully maximised
;; and using a QHD screen.
(setq initial-frame-alist '((display . ":0.0")         ;; Set Emacs to use Primary display
                            (top . 178) (left . 2760)  ;; Emacs via WSL will default to 0,0 coordinates starting from secondary monitor in a Monitor1(Secondary-L)|-|Monitor2(Primary-R) setup
                                                       ;; Hence we have to provide X,Y coordinates that force Emacs into the primary monitor in the previously mentioned setup.
                            (width . (text-pixels . 2160)) (height . (text-pixels . 1250))
                             ))

{{- else if eq .chezmoi.os "darwin"}}

;; Set Emacs Frame Size. 
(add-to-list 'initial-frame-alist '(fullscreen . maximized))
{{ end -}}


;; Whenever you reconfigure a package, make sure to wrap your config in an
;; `after!' block, otherwise Doom's defaults may override your settings. E.g.
;;
;;   (after! PACKAGE
;;     (setq x y))
;;
;; The exceptions to this rule:
;;
;;   - Setting file/directory variables (like `org-directory')
;;   - Setting variables which explicitly tell you to set them before their
;;     package is loaded (see 'C-h v VARIABLE' to look up their documentation).
;;   - Setting doom variables (which start with 'doom-' or '+').
;;
;; Here are some additional functions/macros that will help you configure Doom.
;;
;; - `load!' for loading external *.el files relative to this one
;; - `use-package!' for configuring packages
;; - `after!' for running code after a package has loaded
;; - `add-load-path!' for adding directories to the `load-path', relative to
;;   this file. Emacs searches the `load-path' when you load packages with
;;   `require' or `use-package'.
;; - `map!' for binding new keys
;;
;; To get information about any of these functions/macros, move the cursor over
;; the highlighted symbol at press 'K' (non-evil users must press 'C-c c k').
;; This will open documentation for it, including demos of how they are used.
;; Alternatively, use `C-h o' to look up a symbol (functions, variables, faces,
;; etc).
;;
;; You can also try 'gd' (or 'C-c c d') to jump to their definition and see how
;; they are implemented.

;; Configuring the Browser for Emacs
{{- if eq .chezmoi.hostname "BIG-RIG" }}

(setq browse-url-generic-program
    (executable-find (getenv "BROWSER"))
     browse-url-browser-function 'browse-url-generic
     search-web-default-browser 'browse-url-generic)

{{ end -}}


;; Adding back a spacemacs-style "homepage" dashboard shortcut
;; since I often use that to "center" myself

(map! :leader
      :desc "Go to Doom dashboard"
      "b h" #'+doom-dashboard/open
      )

;; Disable auto-save files
(setq create-lockfiles nil)

;; Customizing centaur-tabs to bring everything into a single frame and
;; hide windows that tend to be noisy
(after! centaur-tabs
  (setq! centaur-tabs-show-navigation-buttons t)
  (setq! centaur-tabs-down-tab-text " ▼ ")

  ;; Ctrl + click on these icons allows for tabs to reordered.
  ;; (setq! centaur-tabs-forward-tab-text " ▶")
  ;; (setq! centaur-tabs-backward-tab-text " ◀")
  (defun centaur-tabs-hide-tab (x)
    "Disable tabs for certain buffer types"
    (let ((name (format "%s" x)))
      (or
      (window-dedicated-p (selected-window))
      ;; (string-prefix-p "*epc" name)
      ;; (string-prefix-p "*helm" name)
      ;; (string-prefix-p "*Helm" name)
      ;; (string-prefix-p "*which-key*" name)
      (string-prefix-p " *Org todo*" name)
      (string-prefix-p "*Async-native-compile-log*" name)
      (string-prefix-p "*Native-compile-Log*" name)
      (string-prefix-p "*compilation*" name)
      (string-prefix-p "*lsp" name)
      (string-prefix-p "*markdown-output" name)
      (string-prefix-p "*httpd" name)
      (string-prefix-p " *" name)
      (string-prefix-p "*eshell" name)
      (string-prefix-p "*flyspell-region*" name)
      (string-prefix-p "*Default-eshell" name)
      (string-prefix-p "*Calendar*" name)
      (string-prefix-p "init.org" name) ;;Although org-agenda will load this file, this should prevent it showing up in the list of tabs.
      (string-prefix-p "memorybanks.org" name) ;;Since this file is only used to archive tasks, it can be hidden.
      ;; (string-prefix-p "zotero.bib" name)
      (and (string-prefix-p "magit" name)
      ))))

  (defun centaur-tabs-buffer-groups ()
    "`centaur-tabs-buffer-groups' control buffers' group rules."
    (list
    "DEFAULT"))
)


;; Setup spellcheck
(after! spell-fu
  (setq ispell-program-name "hunspell")
  (ispell-check-version)
  (setq ispell-dictionary-alist
      '((nil "[A-Za-z]" "[^A-Za-z]" "[']" t
            ("-d" "en_GB" "-i" "utf-8") nil utf-8)
        ("american"
        "[A-Za-z]" "[^A-Za-z]" "[']" nil
        ("-d" "en_US") nil utf-8)
        ("english"
        "[A-Za-z]" "[^A-Za-z]" "[']" nil
        ("-d" "en_GB") nil utf-8)
        ("british"
        "[A-Za-z]" "[^A-Za-z]" "[']" nil
        ("-d" "en_GB") nil utf-8)))
  (progn
    (
    setq ispell-dictionary "british"
    ;; ispell-change-dictionary "english"
    ;; ispell-local-dictionary "en_US,en_GB"
    ispell-extra-args '("-a" "-i" "utf-8")
    ispell-silently-savep t
    ))
  (add-to-list 'ispell-skip-region-alist '("^#+BEGIN_SRC" . "^#+END_SRC"))
  (setq ispell-personal-dictionary "~/.emacs.d/.local/etc/ispell/.pws")
)

;; If you use `org' and don't want your org files in the default location below,
;; change `org-directory'. It must be set before org loads!
(setq org-directory {{ printf "%sProjects/" .org_dir | quote }} )
(setq org-agenda-files
      (list {{ printf "%sProjects/homelab.org" .org_dir | quote }}
            {{ printf "%sProjects/inbox.org" .org_dir | quote }}
            {{ printf "%sProjects/home-network.org" .org_dir | quote }}
            {{ printf "%sProjects/lifehacks.org" .org_dir | quote }}
            {{ printf "%sProjects/learning-emacs.org" .org_dir | quote }}
            {{ printf "%sProjects/memorybanks.org" .org_dir | quote }}
            ;; add more files here
            ))


;; Configure org-mode
(after! org
  (add-hook! 'org-mode-hook #'emojify-mode)

  ;; Setup org-todos
  (setq org-todo-keywords
        (quote ((sequence "TODO(t)" "NEXT(n)" "WIP(i)" "MAYBE(e)" "|" "DONE(d)")
                (sequence "WAITING(w@/!)" "HOLD(h@/!)" "|" "CANCELLED(c@/!)"))))
  (setq org-todo-keyword-faces
        '(("PROJ" :background "blue" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("TODO" :background "red1" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("NEXT" :background "red2" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("WIP" :background "orange" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("WAITING" :background "yellow" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("HOLD" :background "gold" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("DELEGATED" :background "gold" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("MAYBE" :background "gray" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("APPT" :background "red1" :foreground "black" :weight bold :box (:line-width 2 :style released-button))
          ("DONE" :background "forest green" :weight bold :box (:line-width 2 :style released-button))
          ("CANCELLED" :background "#b1cfff" :foreground "black" :weight bold :box (:line-width 2 :style released-button))))

  ;; Setup org capture templates
  ;; :kill-buffer t
  (setq org-default-notes-file (concat org-directory "inbox.org"))
  ;; Ugly hack to allow all .org files in the org-directory to be used as refile targets
  ;; without expecting org-agenda to also be available.
  (setq org-targets (file-expand-wildcards (concat org-directory "*.org")))
  (setq org-refile-targets '((org-targets :maxlevel . 2)
                             (nil :maxlevel . 5)))
  (setq org-outline-path-complete-in-steps nil)         ; Refile in a single go
  (setq org-refile-use-outline-path t)                  ; Show full paths for refiling
  (setq org-capture-templates `(
                                 ("n" "Do Now" entry (file+headline org-default-notes-file "TASKS")
                                 "** NEXT %u:  %?" :prepend t)
                                ("t" "ToDo" entry (file+headline org-default-notes-file "TASKS")
                                 "** TODO %u:  %?" :prepend t)
                                ("l" "Research ToDo" entry (file+headline org-default-notes-file "RESEARCH")
                                 "** TODO  %?\n   +Notes\n    - %u: %(org-cliplink-capture)" :prepend t)
                                ("m" "Maybe" entry (file+headline org-default-notes-file "TASKS")
                                 "** MAYBE %u:  %?" :prepend t)
                                ("e" "Research Maybe" entry (file+headline org-default-notes-file "RESEARCH")
                                 "** MAYBE  %?\n   +Notes\n    - %u: %(org-cliplink-capture)" :prepend t)
                                ))

)

;; Configure org-agenda
(after! org-agenda
  (add-hook! 'org-agenda-mode-hook #'emojify-mode)
  (setq org-agenda-custom-commands
  '(("d" "Grouped Agenda View"
     (
      ;; (agenda "" ((org-agenda-span 10)
      ;;             (org-agenda-start-on-weekday nil)
      ;;             (org-agenda-start-day "-7d")
      ;;             (org-agenda-entry-types '(:timestamp :sexp))))
      (org-ql-block '(todo "NEXT")
                     ((org-ql-block-header "Quick/Immediate Todo's"))
                     :sort '(date priority reverse))
      (org-ql-block '(todo "WIP")
                     ((org-ql-block-header "WIP"))
                     :sort '(date priority reverse))
      (org-ql-block '(or (todo "WAITING")
                         (todo "HOLD"))
                     ((org-ql-block-header "On-Hold"))
                     :sort '(priority reverse date todo))
      (org-ql-block '(todo "TODO")
                     ((org-ql-block-header "Todo"))
                     :sort '(priority reverse date))
      (org-ql-block '(todo "MAYBE")
                     ((org-ql-block-header "Someday")))
      )
     ;; (org-agenda-tag-filter-preset '("-ARCHIVE"))
     ;; ((org-agenda-compact-blocks t))
     ((org-agenda-block-separator 9472))
     )

    ("i" "IRL ToDo's"
     (
      ;; (agenda "" ((org-agenda-span 10)
      ;;             (org-agenda-start-on-weekday nil)
      ;;             (org-agenda-start-day "-7d")
      ;;             (org-agenda-entry-types '(:timestamp :sexp))))
      (org-ql-block '(todo "WIP")
                     ((org-ql-block-header "WIP"))
                     :sort '(date priority))
      (org-ql-block '(or (todo "WAITING")
                         (todo "HOLD"))
                     ((org-ql-block-header "On-Hold"))
                     :sort '(todo priority date))
      (org-ql-block '(todo "TODO")
                     ((org-ql-block-header "Todo"))
                     :sort '(priority date))
      (org-ql-block '(todo "MAYBE")
                     ((org-ql-block-header "Someday")))
      )
     ((org-agenda-files '({{ printf "%sProjects/irlthings.org" .org_dir | quote }})))
     ((org-agenda-block-separator 9472))
     )
    )
  )
)

;; I used the spacemacs function to kill buffers matching a regexp without prompting
;; quite frequently. Unfortunately the equivalent doom function doom/kill-matching-buffers
;; seems to not work well with org files loaded via Agenda mode. Hence, I'm importing the
;; spacemacs functions from https://github.com/syl20bnr/spacemacs/blob/develop/layers/%2Bspacemacs/spacemacs-defaults/funcs.el

(defun custom/rudekill-matching-buffers (regexp &optional internal-too)
  "Kill - WITHOUT ASKING - buffers whose name matches the specified REGEXP. See
the `kill-matching-buffers` for grateful killing. The optional 2nd argument
indicates whether to kill internal buffers too.
Returns the count of killed buffers."
  (let* ((buffers (cl-remove-if-not
                   (lambda (buffer)
                     (let ((name (buffer-name buffer)))
                       (and name (not (string-equal name ""))
                            (or internal-too (/= (aref name 0) ?\s))
                            (string-match regexp name))))
                   (buffer-list))))
    (mapc 'kill-buffer buffers)
    (length buffers)))

(defun custom/kill-matching-buffers-rudely (regexp &optional internal-too)
  "Kill - WITHOUT ASKING - buffers whose name matches the specified REGEXP. See
the `kill-matching-buffers` for grateful killing. The optional 2nd argument
indicates whether to kill internal buffers too.
Returns a message with the count of killed buffers."
  (interactive "sKill buffers matching this regular expression: \nP")
  (message
   (format "%d buffer(s) killed."
           (custom/rudekill-matching-buffers regexp internal-too))))

;; Add a shortcut for kill-matching-buffers-rudely (i.e without asking)

(map! :leader
      :desc "Kill buffers matching this regular expression"
      "b C-S-d" #'custom/kill-matching-buffers-rudely)

